<div class="large-12 columns" style="background-color:white;">
	<h2>Login</h2>
	<div id="form">
		<div id="fail">Sorry, but you got that wrong. Try again.</div>
		<p class="lead">Enter your login details...</p>
		<input type="text" id="username" placeholder="Username">
		<input type="password" id="password" placeholder="Password">
		<a href="#" class="button send">Login</a>
		<a href="#signup" class="button">Sign Up</a>
		
	</div>
</div>