<div class="large-12 columns" style="background-color:white;">
	<h2>Sign Up</h2>
	<div id="form">
		<div id="fail">Sorry, but you got that wrong. Try again.</div>
		<p class="lead">Sign Up</p>
		<input type="text" id="username" placeholder="Username">
		<input type="password" id="password" placeholder="Password">
		<input type="text" id="email" placeholder="Email Address">
		<a href="#" class="button send">Sign Up</a>
		
	</div>
</div>